**
!Destexhe_Static_AMPA_Synapse.mod
!Destexhe_Static_GABAA_Synapse.mod
!myions.mod
!pGPeA.mod
!pSTN.mod
!SynNoise.mod
!xtra.mod

!additional_functions.py
!ChangeRun.py
!Cortical_Basal_Ganglia_Cell_Classes.py
!Global_Variables.py
!many_to_one_dicts.py
!Simulation.py
!SimulationControl.py
!Commander.py

!cleanup.sh
!mRun.sh
!.gitignore
!Run Simulation Desktop.ipynb
Run Simulation Desktop.ipynb
